.our_team_container {
  padding-bottom: 180px;
  border-bottom: 1px solid #e1dbdb;
  margin: 0 20px;
  width: calc(100vw - 40px);
  max-width: 1200px;
  height: max-content;
}

.our_team_container div:nth-of-type(2n) {
  flex-direction: row-reverse;
}

h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 28px;
}

.container_mini {
  border-top: 1px solid #e1dbdb;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media (max-width: 1099px) {
  .our_team_container {
    padding-bottom: 55px;
  }

  .container_mini {
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    gap: 0;
  }

  .our_team_container div:nth-of-type(2n) {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
    .our_team_container {
        padding-bottom: 80px;
    }

    .container_mini {
        width: 100%;
        margin: 20px 0 3px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow-x: auto;
        gap: 20px;
      }
}