.container {
  display: flex;
  justify-content: center;
  background-color: white;
  max-height: 100vw;
  height: 70%;
  margin: 0 20px;
  max-width: 100vw;
  width: calc(100% - 40px);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 884px;
  width: 100%;
}

.container h2 {
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.container h3 {
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container p {
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.distruction {
  display: flex;
  flex-direction: column;
  max-width: 412px;
  gap: 15px;
}

.distruction button {
  margin-top: 45px;
  max-width: 300px;
  width: 100vw;
  color: white;
  background-color: black;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  font-size: 18px;
}

@media (max-width: 870px) {
  .container img {
    max-width: 332px;
  }

  .container h2 {
    font-size: 54px;
    line-height: 65px;
  }

  .container h3 {
    font-size: 30px;
    line-height: 37px;
  }
}

@media (max-width: 800px) {
  .container img {
    max-width: 300px;
  }

  .distruction {
    max-width: 303px;
  }

  .container h2 {
    font-size: 44px;
  }

  .container h3 {
    font-size: 25px;
    line-height: 32px;
  }
}

@media (max-width: 659px) {
  .container {
    padding-top: 115px;
  }

  .container > div {
    flex-direction: column;
  }

  .distruction {
    margin-top: 30px;
    gap: 0;
  }

  .container h2 {
    font-size: 45px;
    line-height: 55px;
  }

  .container h3 {
    margin-top: 1px;
    line-height: 30px;
  }

  .container p {
    margin-top: 10px;
    font-size: 16px;
    line-height: 18.78px;
  }

  .container button {
    margin-top: 25px;
  }
}
