.container {
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    width: calc(100% - 40px);
    max-width: 1200px;
    height: max-content;
}

.container h2 {
    font-size: 40px;
    font-weight: 500;
    max-width: 570px;
}

@media(max-width:768px) {
    .container {
        flex-direction: column;
        padding-top: 0;
    }

    .container h2 {
        max-width: 768px;
        width: 100%;
    }
    .container img {
        width: 100%;
    }
}

@media(max-width:480px) {

    .container h2 {
        font-size: 25px;
        width: 95vw;
        text-align: left;
        margin: 0 auto;
    }

    .container img {
        width: 95vw;
    }
}
