.container {
  height: 100%;
  width: 100%;
  background-color: rgba(129, 125, 125, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 51;
}

.modal {
  width: 600px;
  border: 1px solid black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.modal h2 {
  font-size: 64px;
  font-weight: 500;
  padding: 74px 0 30px 0;
}

.modal > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal p {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 60px;
  text-align: center;
}

.modal button {
  font-size: 18px;
  font-weight: 400;
  background-color: black;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 15px 30px;
  margin-bottom: 65px;
  max-width: 303px;
  width: 60vw;
}


@media(max-width:768px) {
  .modal {
    width: 80vw;
    border-radius: 30px;
  }

  .modal h2 {
    font-size: 20px;
    padding: 30px 0 15px 0;
  }

  .modal p {
    font-size: 15px;
    padding-bottom: 20px;
  }

  .modal button {
    font-size: 15px;
    margin-bottom: 18px;
    max-width: 190px;
    width: 60vw;
  }
}