.container {
  padding-bottom: 180px;
  border-bottom: 1px solid #e1dbdb;
  margin: 0 20px;
  width: calc(100vw - 40px);
  max-width: 1200px;
  height: max-content;
  display: flex;
  flex-direction: column;
}

.container h2 {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 28px;
}

.container_mini {
  border-top: 1px solid #e1dbdb;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.container_mini img {
  width: 570px;
}

.distruction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 450px;
}

.about_denis {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.maria_1280px {
  display: none;
}

.denis_1280px {
  display: none;
}

.about_maria {
  padding-top: 80px;
  display: flex;
  justify-content: space-between;
}

.about {
  margin-top: 20px;
  font-size: 16px;
  max-width: 450px;
  width: 100%;
}

.job_title {
  font-size: 20px;
  color: #838383;
  padding-bottom: 5px;
}

.name {
  font-size: 32px;
  font-weight: 500;
}

@media (max-width: 1099px) {
  .container {
    padding-bottom: 55px;
  }
  .container_mini {
    margin-top: 20px;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
  }

  .about_denis {
    flex-direction: column;
  }

  .about_maria {
    flex-direction: column-reverse;
    padding-top: 0;
    justify-content: start;
  }

  .denis {
    max-width: 450px;
    width: 100vw;
    padding-bottom: 20px;
  }

  .maria {
    max-width: 450px;
    width: 100vw;
    padding-bottom: 20px;
  }

  .distruction {
    max-width: 450px;
  }
}

@media (max-width: 1040px) {
  .denis {
    max-width: 400px;
  }

  .maria {
    max-width: 400px;
  }

  .distruction {
    max-width: 400px;
  }
}

@media (max-width: 940px) {
  .denis {
    max-width: 350px;
  }

  .maria {
    max-width: 350px;
  }

  .distruction {
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-bottom: 80px;
  }

  .container_mini {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .container h2 {
    font-size: 20px;
  }

  .denis {
    max-width: 250px;
  }

  .maria {
    max-width: 250px;
  }

  .distruction {
    max-width: 250px;
  }

  .job_title {
    font-size: 15px;
  }

  .name {
    font-size: 23px;
  }

  .about {
    margin-top: 10px;
    font-size: 13px;
    line-height: 15.23px;
  }
}
